@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  width: 95%;
  max-width: 940px;
  min-height: 320px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section {
  height: 100%;
  min-width: 320px;
  min-height: 650px; }

.title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  color: #f9b43b;
  text-transform: uppercase;
  margin-bottom: 0; }

.sidebar {
  position: fixed;
  top: 90px;
  right: 50px; }

.sidebar__circle {
  width: 16px;
  height: 16px;
  border: solid 0px #ffffff;
  z-index: 10;
  position: relative;
  border-radius: 50%;
  margin-bottom: 5px; }

.sidebar__item:hover .sidebar__circle, .sidebar__circle--active {
  border: solid 1px #ffffff;
  cursor: pointer; }

.sibebar__circle-color {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }

.logo__link {
  margin-right: auto;
  margin-top: 10px; }

.nav__link {
  text-decoration: none;
  color: #ffffff; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 11px; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px; }

.nav__item:hover {
  text-decoration: underline; }

.nav__item:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 16px;
  vertical-align: middle; }

.nav__item:last-child::after {
  display: none; }

.button__order {
  display: inline-block;
  width: 98px;
  height: 37px;
  background-color: #e45028;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.button__order:hover {
  background-color: #c1401e;
  cursor: pointer; }

.main {
  background: url("../img/bg/bg_main.jpg") no-repeat center center;
  background-size: cover; }

.main__subtitle {
  font-family: 'Lifehack', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 65px;
  color: #ffffff;
  text-transform: lowercase;
  line-height: 1; }

.main__content-burger {
  width: 50%; }

.main__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 60px;
  margin-left: 16px; }

.main__content-img {
  max-height: 100%;
  max-width: 100%; }

.main__content-title, .main__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-bottom: 16px; }

.main__content-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 40px;
  width: 50%; }

.down {
  position: absolute;
  bottom: 40px; }

.down__btn {
  height: 1.25rem; }

.best {
  background-image: url("../img/bg/bg_best.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.best__title {
  color: #2f3234;
  margin-bottom: 42px; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__item-title {
  font-family: 'Lifehack', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #2f3234;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 15px; }

.best__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 34px; }

.best__icon {
  height: 5rem; }

.best__item-description {
  text-align: center;
  color: #2f3234;
  opacity: 0.8;
  line-height: 24px; }

.best__item {
  margin: 0 10px;
  width: 300px; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }

.review {
  width: 100%;
  height: 100%;
  position: relative; }

.review__photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.photo__avatar {
  visibility: hidden;
  width: 0;
  height: 0; }

.review__btn {
  width: 110px;
  height: 33px;
  background-color: #2f3234;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  display: inline-block;
  color: #ffffff;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  border-radius: 5px; }

.review__btn:hover {
  background-color: #1f2122;
  cursor: pointer; }

.review__text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 32px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: rgba(80, 80, 80, 0.6); }

.review__text-block:hover {
  opacity: 1; }

.review__name {
  font-family: 'Gagalin', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 22px; }

.review__text {
  line-height: 24px;
  margin-bottom: 15px; }

.team {
  background: url("../img/bg/bg_team.jpg") no-repeat center top;
  background-size: cover; }

.team__wraper {
  position: absolute;
  right: 0%;
  left: 50%;
  background-color: #313436;
  opacity: 0.93;
  height: 100%;
  padding-top: 113px;
  padding-left: 95px; }

.team-accordeon__title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 17px; }

.team-accordeon__descblock {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.team-accordeon__avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 20px;
  margin-top: 5px; }

.team-accordeon__desc {
  width: 45%;
  color: #ffffff;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team-accordeon__position {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  margin-bottom: 11px; }

.team__content-title {
  margin-bottom: 36px; }

.team-accordeon__text {
  line-height: 24px; }
