@charset "UTF-8";
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 14px; } }

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  line-height: 1.42; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.locked {
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.content-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0%;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }

.container {
  width: 95%;
  max-width: 940px;
  min-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section {
  height: 100%;
  min-width: 20rem;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.title {
  font-family: 'Gagalin', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  text-transform: uppercase;
  margin-bottom: 0; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.9375rem; } }

.sidebar {
  position: fixed;
  top: 5.625rem;
  right: 3.125rem; }
  @media screen and (max-width: 768px) {
    .sidebar {
      display: none; } }

.sidebar__item {
  width: 1rem;
  height: 1rem;
  border: solid 0rem #ffffff;
  z-index: 10;
  position: relative;
  border-radius: 50%;
  margin-bottom: 0.3125rem; }

.sidebar__item.active, .sidebar__item:hover {
  border: solid 0.0625rem #ffffff;
  cursor: pointer; }

.sibebar__circle-color {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: normal; }

p {
  margin: 0;
  padding: 0; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  position: relative; }

.logo__link {
  margin-right: auto;
  margin-top: 0.625rem; }

@media screen and (max-width: 768px) {
  .nav {
    display: none; } }

.nav__link {
  text-decoration: none;
  color: #ffffff; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 0.6875rem; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem; }

.nav__item:hover {
  text-decoration: underline; }

.nav__item:after {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  vertical-align: middle; }

.nav__item:last-child::after {
  display: none; }

@media screen and (max-width: 768px) {
  .button {
    position: absolute;
    top: 1.5625rem;
    right: 5.0625rem; } }

.button__order {
  display: inline-block;
  width: 6.125rem;
  height: 2.3125rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.button__order:hover {
  background-color: #c1401e;
  cursor: pointer; }

/*
.hamburger-menu-link {  
    box-shadow: 0 rem(5px) #ffffff,0 rem(10px) #ffffff;
    position: absolute;
    width: rem(24px);
    height: rem(4px);
    background: #ffffff;
    top: rem(35px);
    right: rem(30px);
    border-radius: rem(10px);
    display: none;
}*/
.hamburger-menu-link {
  position: absolute;
  top: 1.875rem;
  right: 2.25rem;
  bottom: auto;
  left: auto;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: initial; } }

.hamburger-menu-link--clear {
  display: none; }

.main {
  background: url("../img/bg/bg_main.jpg") no-repeat center center;
  background-size: cover; }

.main__subtitle {
  font-family: 'Lifehack', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.0625rem;
  color: #ffffff;
  text-transform: lowercase;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .main__subtitle {
      padding: 0 7%; } }
  @media screen and (max-width: 480px) {
    .main__subtitle {
      font-size: 3.375rem; } }
  @media screen and (max-width: 320px) {
    .main__subtitle {
      font-size: 2.1875rem; } }

.main__content-burger {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .main__content-burger {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .main__content-burger {
      margin-bottom: 1.875rem; } }

.main__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 3.75rem;
  margin-left: 1rem; }
  @media screen and (max-width: 768px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0rem; } }
  @media screen and (max-width: 480px) {
    .main__content {
      margin-left: 0rem; } }

.main__content-img {
  max-height: 100%;
  max-width: 100%; }
  @media screen and (max-width: 480px) {
    .main__content-img {
      max-width: 80%; } }

@media screen and (max-width: 320px) {
  .main__content-title {
    font-size: 3rem; } }

.main__content-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0.625rem;
  margin-top: 2.5rem;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .main__content-text {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      margin-top: 0rem; } }

.down {
  position: absolute;
  bottom: 2.5rem; }

.down__btn {
  height: 1.25rem; }

.overlay.active {
  width: 100%;
  height: 100%;
  background: #2f3234;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.clearfix:after {
  content: "";
  display: inline-block;
  clear: both; }

.overlay {
  position: absolute;
  display: none; }
  .overlay-menu__link {
    text-decoration: none;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase; }
    .overlay-menu__link:hover {
      text-decoration: underline; }
  .overlay-close {
    position: absolute;
    top: 30px;
    right: 36px;
    bottom: auto;
    left: auto;
    z-index: 3; }
  .overlay-menu__list {
    text-align: center; }
  .overlay-menu__item:after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: #ffffff;
    border-radius: 50%;
    display: block;
    margin: 1.75rem auto; }
  .overlay-menu__item:last-child:after {
    display: none; }

.best {
  background-image: url("../img/bg/bg_best.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

@media screen and (max-width: 480px) {
  .best__container {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    margin-top: 5.75rem; } }

.best__title {
  color: #2f3234;
  margin-bottom: 2.625rem; }
  @media screen and (max-width: 480px) {
    .best__title {
      font-size: 3.125rem;
      margin-bottom: 1.625rem; } }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item-title {
  font-family: 'Lifehack', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  color: #2f3234;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .best__item-title {
      text-align: left; } }

.best__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.125rem; }
  @media screen and (max-width: 480px) {
    .best__item-img {
      margin-right: 1.5625rem; } }

.best__icon {
  height: 5rem; }
  @media screen and (max-width: 480px) {
    .best__icon {
      width: 6.125rem;
      height: auto; } }

.best__item-description {
  text-align: center;
  color: #2f3234;
  opacity: 0.8;
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .best__item-description {
      text-align: left;
      padding-right: 0.625rem; } }

.best__item {
  margin: 0 0.625rem;
  width: 18.75rem; }
  @media screen and (max-width: 480px) {
    .best__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      text-align: left;
      margin-bottom: 3rem; } }

.burgers {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(#eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b, #eb8c38, #f9b43b);
  background: -o-linear-gradient(bottom, #f9b43b, #eb8c38, #f9b43b);
  background: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b); }

.title--burger {
  line-height: 1;
  color: #ffffff; }
  @media screen and (max-width: 480px) {
    .title--burger {
      font-size: 2.9375rem;
      padding: 0 3.75rem; } }
  @media screen and (max-width: 320px) {
    .title--burger {
      font-size: 2.9375rem;
      padding: 0; } }

.slider {
  position: relative;
  width: 100%; }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .slider__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .slider__control-link {
    display: inline-block;
    position: absolute;
    width: 2rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    z-index: 10; }
    .slider__control-link--left {
      left: -2.1875rem; }
      @media screen and (max-width: 768px) {
        .slider__control-link--left {
          left: 2.5%; } }
      @media screen and (max-width: 480px) {
        .slider__control-link--left {
          left: 0; } }
    .slider__control-link--right {
      right: -3.5rem; }
      @media screen and (max-width: 768px) {
        .slider__control-link--right {
          right: 2.5%; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .slider__control-link--right {
      right: 0; } }
  .slider__control-icon {
    width: 100%;
    height: 100%;
    fill: #ffffff; }
    .slider__control-icon--left {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .slider__control-icon--right {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .slider__left {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .slider__left {
        width: 100%; } }
  .slider__burger-img {
    margin-top: 4.75rem;
    margin-bottom: 4.375rem;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .slider__burger-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 2.1875rem; } }
    @media screen and (max-width: 320px) {
      .slider__burger-img {
        margin-bottom: 1rem; } }
  .slider__burger-icon {
    max-width: 98%; }
    @media screen and (max-width: 768px) {
      .slider__burger-icon {
        max-width: 70%; } }
  .slider__right {
    margin-top: 3.3125rem;
    color: #ffffff;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .slider__right {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding: 0 16%;
        margin-top: 0; } }
    @media screen and (max-width: 480px) {
      .slider__right {
        padding: 0; } }
  .slider__content {
    margin-top: 3.3125rem;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .slider__content {
        margin-top: 2.8125rem;
        margin-bottom: 2.5rem;
        text-align: center; } }
    @media screen and (max-width: 320px) {
      .slider__content {
        margin-top: 1rem;
        margin-bottom: 1rem; } }
  @media screen and (max-width: 480px) {
    .slider__price-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }
  .slider__price {
    display: inline-block;
    color: #e35028; }
    @media screen and (max-width: 480px) {
      .slider__price {
        line-height: 1; } }
  .slider__currency {
    display: inline-block;
    font-size: 1.875rem;
    color: #e35028;
    margin-right: 1.875rem; }
  .slider__control-right {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%;
    height: 100%; }

.composition {
  width: 5.625rem;
  height: 5.625rem;
  background-color: #f08c33;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 0.8125rem;
  position: absolute;
  top: 0;
  left: 0; }
  @media screen and (max-width: 768px) {
    .composition {
      left: 16.5%; } }
  @media screen and (max-width: 480px) {
    .composition {
      left: 0; } }
  .composition__icon {
    height: 2.5rem;
    display: inline-block;
    fill: #ffffff;
    margin-bottom: 0.5625rem; }
  .composition__text {
    text-align: center;
    font-family: 'Gagalin';
    font-weight: normal;
    font-style: normal;
    font-display: optional;
    color: #ffffff; }
  .composition__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 9999px;
    top: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.3125rem;
    width: 16.875rem;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .composition__menu-link-close {
      display: none;
      z-index: 10; }
      @media screen and (max-width: 768px) {
        .composition__menu-link-close {
          display: initial; } }
      @media screen and (max-width: 480px) {
        .composition__menu-link-close {
          display: initial; } }
    @media screen and (max-width: 768px) {
      .composition__menu {
        width: 20.125rem; } }
    @media screen and (max-width: 480px) {
      .composition__menu {
        width: auto; } }
    .composition__menu-close {
      position: absolute;
      opacity: 1;
      width: 1.125rem !important;
      top: 1.3125rem;
      right: 1.3125rem; }
    .composition__menu-list {
      width: 100%;
      padding: 20px; }
      @media screen and (max-width: 768px) {
        .composition__menu-list {
          padding-right: 4.375rem; } }
      @media screen and (max-width: 480px) {
        .composition__menu-list {
          padding-right: 7.5rem; } }
      @media screen and (max-width: 320px) {
        .composition__menu-list {
          padding-right: 3.9375rem; } }
    .composition__menu-item {
      margin-bottom: 1.125rem; }
      .composition__menu-item:last-child {
        margin-bottom: 0; }
    .composition__menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      text-decoration: none;
      color: #2f3234; }
    .composition__menu-title {
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      font-size: 0.875rem;
      margin-left: 1.25rem; }
    .composition__menu-price {
      font-family: 'Ubuntu';
      font-weight: 300;
      font-style: normal;
      font-size: 0.875rem;
      margin-left: auto; }

.composition__menu.composition__menu--active {
  left: 100%;
  opacity: 1; }

.composition.composition__menu--active {
  background-color: #e35028; }

.energy {
  width: 3.75rem;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  text-align: center;
  font-family: 'Gagalin';
  font-weight: normal;
  font-style: normal;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .energy {
      top: 0;
      right: 16.5%;
      bottom: auto;
      left: auto; } }
  @media screen and (max-width: 480px) {
    .energy {
      right: 0; } }
  .energy__icon {
    height: 3.75rem;
    width: 3.75rem;
    fill: #ffffff; }
  .energy__amount {
    position: absolute;
    bottom: 2.375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.25rem; }

.team {
  background: url("../img/bg/bg_team.jpg") no-repeat center top;
  background-size: cover;
  position: relative; }

.team__wraper {
  position: absolute;
  right: 0%;
  top: 0%;
  bottom: 0%;
  left: 50%;
  background-color: #313436;
  opacity: 0.93;
  height: 100%;
  padding-top: 7.0625rem;
  padding-left: 5.9375rem; }
  @media screen and (max-width: 768px) {
    .team__wraper {
      left: 0%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      padding: 0 0; } }

.team-accordeon__title {
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 0.8125rem;
  display: inline-block;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .team-accordeon__title {
      font-size: 1.5rem; } }

.team-accordeon__descblock {
  height: 0;
  overflow: hidden;
  /*зачем?*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-left: 1.0625rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__descblock {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0rem; } }

.team-accordeon__title:before {
  content: "";
  display: inline-block;
  border-top: 0.4375rem solid #f9b43b;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0rem solid transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.team-accordeon__item.is-activ .team-accordeon__title:before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.team-accordeon__item.is-activ .team-accordeon__title {
  color: #f9b43b; }

.team-accordeon__item.is-activ .team-accordeon__descblock {
  height: auto;
  margin-bottom: 2.5rem; }

.team-accordeon__item {
  margin-bottom: 1.1875rem; }

.team-accordeon__avatar {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1.25rem;
  margin-top: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__avatar {
      margin-right: 0rem;
      margin-bottom: 1.25rem; } }

.team-accordeon__desc {
  width: 45%;
  color: #ffffff;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team-accordeon__desc {
      width: 73%; } }

.team-accordeon__position {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0.6875rem; }

.team__content-title {
  margin-bottom: 2.25rem; }

.team-accordeon__text {
  line-height: 1.5rem; }

.menu {
  background: url("../img/bg/bg_menu.jpg") no-repeat center center;
  background-size: cover; }

.menu__wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.menu__title {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 8%; }
  @media screen and (max-width: 768px) {
    .menu__title {
      left: 4%; } }

.menu-accordeon__list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-accordeon__item {
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-accordeon__swith {
  width: 5rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none;
  position: relative;
  float: left; }
  @media screen and (max-width: 768px) {
    .menu-accordeon__swith {
      width: 3.125rem; } }

.menu-accordeon__swith:before {
  content: "";
  background: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.menu-accordeon__title {
  font-size: 2.5rem;
  color: #ffffff;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg) translateX(55%);
  -ms-transform: rotate(-90deg) translateX(55%);
  transform: rotate(-90deg) translateX(55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-accordeon__open {
  width: 0rem;
  overflow: hidden; }

.menu-accordeon__item.activ .menu-accordeon__title {
  color: #f9b43b; }

.menu-accordeon__item.activ .menu-accordeon__open {
  width: 33.75rem;
  height: 100%;
  line-height: 1.5rem;
  padding-top: 3.125rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  background-color: #393634;
  opacity: 0.9;
  float: left; }
  @media screen and (max-width: 480px) {
    .menu-accordeon__item.activ .menu-accordeon__open {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .menu-accordeon__item.activ .menu-accordeon__open {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .hidden {
    display: none; } }

.menu-accordeon__content {
  width: 100%;
  color: #ffffff; }

.reviews {
  position: relative; }
  .reviews__overlay {
    background: rgba(47, 50, 52, 0.9);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .reviews__overlay-container {
      width: 28.75rem;
      background: #ffffff;
      position: relative;
      border-radius: 0.3125rem;
      padding: 1.875rem 1.25rem; }
    .reviews__overlay-close {
      position: absolute;
      top: 20px;
      right: 20px; }
    .reviews__overlay-title.review__name {
      color: #2f3234; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.review {
  width: 100%;
  height: 100%;
  position: relative; }

.review__photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.photo__avatar {
  visibility: hidden;
  width: 0;
  height: 0; }

.review__btn {
  padding: 0.625rem 0.9375rem;
  background-color: #2f3234;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  display: inline-block;
  color: #ffffff;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  border-radius: 0.3125rem; }

.review__btn:hover {
  background-color: #1f2122;
  cursor: pointer; }

.review__text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 3.125rem;
  padding-left: 1.25rem;
  padding-right: 2rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: rgba(80, 80, 80, 0.6); }
  @media screen and (max-width: 768px) {
    .review__text-block {
      text-align: center;
      /* padding-top: rem(30px);
        padding-left: rem(50px);
        padding-right: rem(50px);*/ } }

.review__text-block:hover {
  opacity: 1; }

.review__name {
  font-family: 'Gagalin', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 1.375rem; }
  @media screen and (max-width: 768px) {
    .review__name {
      margin-bottom: 0.8125rem; } }
  @media screen and (max-width: 480px) {
    .review__name {
      font-size: 1.5rem; } }
  @media screen and (max-width: 320px) {
    .review__name {
      font-size: 1.125rem; } }

.review__text {
  line-height: 1.5rem;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.order {
  background: url("../img/bg/bg-texture.jpg") no-repeat center center;
  background-size: cover;
  position: relative; }
  .order__modal {
    background: rgba(47, 50, 52, 0.9);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .order #error {
    display: none; }
  .order__modal-container {
    width: 12.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background: #ffffff;
    position: absolute;
    border-radius: 0.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .order__modal-text {
    margin-bottom: 0.9375rem; }

.order__title {
  margin-bottom: 1.3125rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 2.125rem; } }

.form {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .form__col {
    width: 50%;
    margin-right: 1.125rem; }
    @media screen and (max-width: 768px) {
      .form__col {
        width: 66%;
        margin-right: 0rem; } }
    @media screen and (max-width: 480px) {
      .form__col {
        width: 95%; } }
  .form__row {
    margin-bottom: 1.0625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__title {
    margin-bottom: 0.4375rem; }
  .form__input {
    border: 0.125rem solid transparent;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    width: 100%;
    resize: none; }
    .form__input:focus {
      border-color: #f9b43b;
      outline: none; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__col--right {
  padding-left: 0.1875rem;
  margin-right: 0rem;
  margin-bottom: 1.0625rem; }

.form__text {
  height: 6.8125rem;
  margin-bottom: 0.5rem; }

.form__radio {
  display: inline-block;
  margin-right: 1.0625rem;
  cursor: pointer;
  position: relative;
  vertical-align: middle; }
  .form__radio:last-child {
    margin-right: 0rem; }
  .form__radio-text {
    display: inline-block;
    margin-left: 0.3125rem;
    vertical-align: middle; }

@media screen and (max-width: 480px) {
  .form__btns {
    text-align: center; } }

.form__rbtns {
  margin-bottom: 1.5625rem; }

.form__radio-btn {
  position: absolute;
  top: 0rem;
  left: -624.9375rem; }

.form__radio-elem {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
  position: relative;
  display: inline-block; }

.form__radio-elem:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: #e35028;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.form__radio-btn:checked + .form__radio-elem:after {
  width: 0.5rem;
  height: 0.5rem; }

.form__check {
  position: relative;
  display: block;
  margin-bottom: 1.0625rem; }
  .form__check-text {
    display: inline-block;
    margin-left: 0.25rem; }
  @media screen and (max-width: 768px) {
    .form__check {
      margin-bottom: 2.5rem; } }

.form__check-btn {
  position: absolute;
  top: 0rem;
  left: -624.9375rem; }

.form__check-elem {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  position: relative;
  display: inline-block; }

.form__check-elem:after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.form__check-btn:checked + .form__check-elem:after {
  background: url("../img/icons/checkmark.png") no-repeat center center; }

.button__clear {
  display: inline-block;
  width: 6.125rem;
  height: 2.3125rem;
  border-radius: 0.3125rem;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  color: #ffffff; }

.map {
  width: 100%;
  height: 100%;
  position: relative; }

#map {
  position: absolute;
  top: 0;
  bottom: 3.75rem;
  left: 0;
  right: 0; }

.map-img {
  width: 100%;
  height: 100%;
  /* position: absolute;
    left: 0;
    top: 0;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden; }

.footer {
  width: 100%;
  height: 3.75rem;
  background: url("../img/bg/footer.jpg") no-repeat center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    @media screen and (max-width: 480px) {
      .footer__contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .footer__col {
    width: 50%; }
    @media screen and (max-width: 480px) {
      .footer__col {
        width: 100%;
        text-align: center; } }

/*
.footer-container {
    //width: 100%;
    min-height: rem(60px);
    align-items: stretch;
}*/
.contacts {
  margin-top: 0.4375rem; }
  @media screen and (max-width: 480px) {
    .contacts {
      margin-top: 1.1875rem; } }

.address {
  color: #ffffff;
  margin-bottom: 0.3125rem; }

.tel {
  color: #e45028;
  font-weight: bold; }

.tel:before {
  content: "";
  background: url(../img/icons/phone.svg);
  display: inline-block;
  width: 0.6875rem;
  height: 0.6875rem;
  margin-right: 0.5rem; }

.social {
  /* position: absolute;
    right: 0;
    top:0;*/
  padding-top: 1.125rem;
  display: inline-block;
  text-align: right; }

.social__list {
  text-align: right; }
  @media screen and (max-width: 480px) {
    .social__list {
      text-align: center; } }

.social__link {
  display: inline-block; }

.social__item {
  display: inline-block;
  margin-left: 1rem; }

.social__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #ffffff;
  opacity: .3;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.social__icon:hover {
  opacity: 1; }
