//config
@import "config/variables.scss";
@import "config/mixins.scss";

//resolutions
$tablets: 768px;
$phones: 480px;
$mini: 320px;

//media
@import "misc/media.scss";

//base
@import "layout/font.scss";
@import "layout/base.scss";
@import "layout/adjustment.scss";

//section
@import "section/main_section.scss";
@import "section/best.scss";
@import "section/burgers.scss";
@import "section/team.scss";
@import "section/menu.scss";
@import "section/reviews.scss";
@import "section/order.scss";
@import "section/map.scss";