
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.logo__link {
    margin-right: auto;
    margin-top: rem(10px);
}

.nav {
    @include tablets {
        display: none;
    }
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
}

.nav__list {
    display: flex;
    justify-content: flex-end;   
    margin-right: rem(11px);
}

.nav__item {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: rem(13px);
}

.nav__item:hover {
    text-decoration: underline;
}

.nav__item:after {
    content: "";
    display: inline-block;
    width: rem(4px);
    height: rem(4px);
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: rem(16px);
    margin-left: rem(16px);
    vertical-align: middle;
}
.nav__item:last-child::after {
    display: none;
}

.button {
    @include tablets {
        position: absolute;
        top: rem(25px);
        right: rem(81px);        
    }
}

.button__order {
    display: inline-block;
    width: rem(98px);
    height: rem(37px);
    background-color: #e45028;
    border-radius: rem(5px);
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: rem(13px);
    transition: 0.5s;
}

.button__order:hover {
    background-color: #c1401e;
    cursor: pointer;
}
/*
.hamburger-menu-link {  
    box-shadow: 0 rem(5px) #ffffff,0 rem(10px) #ffffff;
    position: absolute;
    width: rem(24px);
    height: rem(4px);
    background: #ffffff;
    top: rem(35px);
    right: rem(30px);
    border-radius: rem(10px);
    display: none;
}*/


.hamburger-menu-link {
    position: absolute;
    top: 30px;
    right: 36px;
    bottom: auto;
    left: auto;
    display: none;

    @include tablets {
        display: initial;     
    }
}

.hamburger-menu-link--clear {    
    display: none;   
}

.main {
    background: url('../img/bg/bg_main.jpg') no-repeat center center;
    background-size: cover;
}

.main__subtitle{
    font-family: 'Lifehack', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: rem(65px);
    color: #ffffff;
    text-transform: lowercase;
    line-height: 1;

    @include tablets {
       padding: 0 7%;    
    }

    @include phones {
        font-size: rem(54px);     
    }
    
}

.main__content-burger {
    width: 50%;

    @include tablets {
        width: 100%;
        text-align: center;        
    }

    @include phones {
        margin-bottom: rem(30px);        
    }
}

.main__content {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-bottom: rem(60px);
    margin-left: rem(16px);

    @include tablets {
        flex-direction: column;
        margin-left: rem(0px);
    }

    @include phones {
        margin-left: rem(0px);       
    }
}

.main__content-img {
    max-height: 100%;
    max-width: 100%;

    @include phones {
        max-width: 80%;        
    }
}
/*
.main__content-title, .main__subtitle {
    display: flex;
    flex-basis: 50%;
    margin-bottom: rem(16px);
}
*/
.main__content-text {
    flex-direction: column;
    justify-content: center;
    margin-left: rem(10px);
    margin-top: rem(40px);
    width: 50%;

    @include tablets {
        width: 100%;
        display: flex;
        text-align: center;
        margin-top: rem(0px);
    }
}

.down {
    position: absolute;
    bottom: rem(40px);
}

.down__btn {
    height: 1.25rem;
}

.overlay.active {
    width: 100%;
    height: 100%;
    background: #2f3234;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearfix:after {
    content: "";
    display: inline-block;
    clear: both;
}

.overlay {
    position: absolute;
    &-menu__link {
        text-decoration: none;
        font-family: 'Ubuntu', Arial, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: rem(24px);
        color: #ffffff;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    &-close {
        position: absolute;
        top: 30px;
        right: 36px;
        bottom: auto;
        left: auto;
        z-index: 3;
    }

    &-menu__list {
        text-align: center;
    }

    &-menu__item:after {
        content: "";   
        width: rem(8px);
        height: rem(8px);
        background: #ffffff;
        border-radius: 50%;
        display: block;
        margin: rem(28px) auto;
    }

    &-menu__item:last-child:after {
        display: none;
    }
       
}



