.menu {
    background: url('../img/bg/bg_menu.jpg') no-repeat center center;
    background-size: cover;
}

.menu__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.menu__title {
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 8%;
}

.menu-accordeon__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu-accordeon__item {
    float: left;
    height: 100%;
    display: flex;
}

.menu-accordeon__swith {
    width: 80px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    position: relative;    
}

.menu-accordeon__swith:before {
    content: "";
    background: rgba(#141414, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}

.menu-accordeon__title {
    font-size: 40px;
    color: #ffffff;
    white-space: nowrap;
    transform: rotate(-90deg) translateX(55%);   
    display: flex;
}

.menu-accordeon__open {
  /* 
    */
    width: 0px;
    overflow: hidden;
}

.menu-accordeon__item.activ .menu-accordeon__title{
    color: #f9b43b;
}

.menu-accordeon__item.activ .menu-accordeon__open {
    width: 540px;
    height: 100%;
    line-height: 24px;
    padding-top: 50px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #393634;
    opacity: 0.9;
}

.menu-accordeon__content {
    width: 100%;
    color: #ffffff;
   
}

