.order {
    background: url('../img/bg/bg-texture.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    &__modal {
        background: rgba(47, 50, 52, 0.9);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        align-items: center;
        justify-content: center;        
    }

    #error {
        display: none;
    }

    &__modal-container {
        width: rem(200px);
        padding-top: rem(20px);
        padding-bottom: rem(20px);          
        background: #ffffff;
        position: absolute;
        border-radius: rem(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__modal-text {
        margin-bottom: rem(15px);
    }
}

.order__title {
    margin-bottom: rem(21px);
    text-align: center;

    @include phones {
        font-size: rem(34px);
    }
}

.form {
    color: #ffffff;
    display: flex;

    &__col {
        width: 50%;
        margin-right: rem(18px);

        @include tablets {
            width: 66%;
            margin-right: rem(0px);
        }

        @include phones {
            width: 95%;
        }
    }

    &__row {
        margin-bottom: rem(17px);
        display: flex;    
    }

    &__title {
        margin-bottom: rem(7px);
    }

    &__input {
        border: rem(2px) solid transparent;
        border-radius: rem(5px);
        padding: rem(10px) rem(20px);         
        width: 100%;
        resize: none;
           
        &:focus {
            border-color: #f9b43b;
            outline: none;            
        }
    }

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}


.form__block {
    display: block;
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

}


.form__col--right {
    padding-left: rem(3px);
    margin-right: rem(0px);
    margin-bottom: rem(17px);
}


.form__text {
    height: rem(109px);
    margin-bottom: rem(8px);
}

.form__radio {
    display: inline-block;    
    margin-right: rem(17px);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
   
    &:last-child {
        margin-right: rem(0px);
    }

    &-text {
        display: inline-block;
        margin-left: rem(5px);
        vertical-align: middle;
    }       
}

.form__btns {
    @include phones {
        text-align: center;
    }
}

.form__rbtns {
    margin-bottom: rem(25px);    
}

.form__radio-btn {
    position: absolute;
    top: rem(0px);
    left: rem(-9999px);
}

.form__radio-elem {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;    
    position: relative;
    display: inline-block;
}

.form__radio-elem:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;   
    border-radius: 50%;
    background: #e35028;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
}

.form__radio-btn:checked + .form__radio-elem:after {
    width: rem(8px);
    height: rem(8px);
}

.form__check {
    position: relative;
    display: block;
    margin-bottom: rem(17px);

    &-text { 
        display: inline-block;
        margin-left: rem(4px);
    }

    @include tablets {
        margin-bottom: rem(40px);
    }
}

.form__check-btn {
    position: absolute;
    top: rem(0px);
    left: rem(-9999px);
}

.form__check-elem {
    width: rem(16px);
    height: rem(16px);
    background-color: #ffffff;
    position: relative;
    display: inline-block;
}

.form__check-elem:after {
    content: "";
    width: rem(16px);
    height: rem(16px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__check-btn:checked + .form__check-elem:after {
    background: url('../img/icons/checkmark.png') no-repeat center center;
}

.button__clear {
    display: inline-block;
    width: rem(98px);
    height: rem(37px);
    border-radius: rem(5px); 
    vertical-align: middle;
    border: none;
    background-color: transparent;
    color: #ffffff;
}