.burgers {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(f9b43b), color-stop(eb8c38), to(f9b43b));
  background: -webkit-linear-gradient(bottom, f9b43b, eb8c38, f9b43b);
  background: -o-linear-gradient(bottom, f9b43b, eb8c38, f9b43b);
  background: linear-gradient(to top, f9b43b, eb8c38, f9b43b); }
