
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
//    min-width: rem(940px) + rem(20px);
}

.content-wrap {
    height: 100%;
    position: relative;
}

.container {
    width: 95%;
    max-width: 940px;
    min-width: 320px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
    min-width: rem(320px);
    min-height: rem(650px);
    display: flex;
}

.title {
    font-family: 'Gagalin', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: rem(72px);
    color: #f9b43b;
    text-transform: uppercase;
    margin-bottom: 0;

    @include phones {
        font-size: 63px;
    }
}


.sidebar {
    position: fixed;
    top: rem(90px);
    right: rem(50px);
}

.sidebar__circle {
    width: rem(16px);
    height: rem(16px);
    border: solid rem(0px) #ffffff;
    z-index: 10;
    position: relative;
    border-radius: 50%;
    margin-bottom: rem(5px);        
}

.sidebar__item:hover .sidebar__circle, .sidebar__circle--active {
   border: solid rem(1px) #ffffff;
   cursor: pointer;
}

.sibebar__circle-color {
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: rem(0px);
    margin-bottom: rem(0px);
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}