
.wrapper {
    width: 100%;
    height: 100%;
}

.container { 
    width: 940px;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100%;
    min-width: 940px;
    min-height: 650px;
}

.title {
    font-family: 'Gagalin', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    color: #f9b43b;
    text-transform: uppercase;
    margin-bottom: 0;
}


.sidebar {
    position: fixed;
    top: 90px;
    right: 50px;
}

.sidebar__circle {
    width: 16px;
    height: 16px;
    border: solid 0px #ffffff;
    z-index: 10;
    position: relative;
    border-radius: 50%;
    margin-bottom: 5px;
    
}

.sidebar__circle--active {
    border: solid 1px #ffffff;
}

.sibebar__circle-color {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}